<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MICCA Performance Reporting">
    <meta property="og:site_name" content="MICCA">
    <meta property="og:description" content="MICCA Performance Reporting Site">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" href="https://assets.micca.report/img/logo.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        Upload MICCA Data
    </title>
  </head>
<body>

<%= yield %>

</body>
</html>
